<div class="container border" style="height: 30%;width: 30%;">
    <div>
        <div class="row mb-5 mt-2">
            <div class="col-6">Logo</div>
            <div class="col-6 text-right">Login Link</div>
        </div>
        <div>
            <h2>
                Manage your freelance business with us!
            </h2>
            <P>Takes less than 15 minutes to feel out all the informationexcited to ----- your business</P>
        </div>
    </div>
    <form>
        <!-- Email input -->
        <div class="form-outline mb-4">
            <input type="email" id="form2Example1" class="form-control" placeholder="Email"/>
        </div>

        <!-- FullName input -->
        <div class="form-outline mb-4">
            <input type="text" id="form2Example1" class="form-control" placeholder="Full Name"/>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <input type="password" id="form2Example2" class="form-control" placeholder="Password"/>
        </div>

        <!-- Submit button -->
        <button type="button" class="btn btn-primary btn-block mb-4 form-control">Get Started</button>

        <!-- Register buttons -->
        <div class="text-left">
            <p>By signing uo you are agreeing to our</p>
            <p><a href="#!">Terms And Conditions</a></p>
        </div>
    </form>
</div>