<div class="container shadow-lg p-3 mb-5 bg-white rounded" style="width: 50%">
  <div>
    <div class="row mb-5 mt-2">
      <div class="col-6">Logo</div>
      <div class="col-6 text-end">Login Link</div>
    </div>
    <div>
      <h2>Manage your freelance business with us!</h2>
      <P
        >Takes less than 15 minutes to feel out all the informationexcited to
        ----- your business</P
      >
    </div>
  </div>
  <form
    #loginForm="ngForm"
    (ngSubmit)="setLoginData(loginForm.value)"
    method="post"
  >
    <!-- Email input -->
    <div class="inputbox mt-3 mr-2">
      <input
        type="email"
        name="email"
        ngmodel
        class="form-control"
        required="required"
      />
      <i class="fa fa-credit-card"></i> <span>Email</span>
    </div>

    <!-- FullName input -->
    <div class="inputbox mt-3 mr-2">
      <input
        type="text"
        name="fullName"
        ngmodel
        class="form-control"
        required="required"
      />
      <i class="fa fa-credit-card"></i> <span>Full Name</span>
    </div>

    <!-- Password input -->
    <div class="inputbox mt-3 mr-2">
      <input
        type="password"
        name="password"
        ngmodel
        class="form-control"
        required="required"
      />
      <i class="fa fa-credit-card"></i> <span>Password</span>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4 form-control">
      Get Started
    </button>

    <!-- Register buttons -->
    <div class="text-left">
      <p class="m-0 p-0">By signing uo you are agreeing to our</p>
      <p>
        <a href="#!" class="text-dark fs-5 text-decoration-none">Terms And Conditions</a>
      </p>
    </div>
  </form>
</div>
